@font-face {
  font-family: "DMSansRegular";
  src: url("./../Font/DMSans-Regular.ttf") format("truetype");
}
button {
  background-color: inherit;
  border: none;
}
* {
  font-family: "DMSansRegular";
}
body {
  max-width: 90%;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style-type: none;
}
/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: space-between;
  margin-top: 2em;
  padding-left: 10%;
}
.headerLogo {
  width: 200px;
  height: 50px;
  margin-right: 1em;
}

nav {
  display: flex;
  align-items: center;
}

.navButton,
.photographerItemTag {
  color: #901c1c;
  line-height: 23px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 12px;
  box-sizing: border-box;
  border: 0.5px solid #c4c4c4;
  background-color: white;
  padding: 0 10px 0 5px;
  text-align: center;
  font-weight: 500;
  margin: 2px;
}
.navButton:hover,
.photographerItemTag:hover {
  color: white;
  background-color: #901c1c;
}
/*MAIN*/

.mainTitle {
  color: #901c1c;
  font-size: 36px;
  position: absolute;
  top: 15px;
  right: 44px;

  margin-top: 18px;
}

/*Article */

.photographer {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.photographerItem {
  width: 30%;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;
}
.photographerItem p {
  margin: 3px 0;
}
.photographerItemPhoto {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.photographerItemName {
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #d3573c;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.photographerItemCity {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  color: #901c1c;
}
.photographerItemText {
  display: flex;
  font-size: 10px;
  margin: 3px 0;
  flex-direction: column;
  align-items: center;
}

.photographerItemTagline {
  font-size: 10px;
  color: #000000;
  text-align: center;
}
.photographerItemPrice {
  font-size: 9px;
  color: #757575;
  text-align: center;
}

.photographerItemTaglist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

#linktomain {
  display: none;
  text-decoration: none;
  background: #db8876;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 8px;
  position: fixed;
  margin: 0 auto;
  top: 6px;
  left: 45%;
  text-align: center;
}

/*DROPDOWN MENU */
.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 100%;
  margin-left: 7em;
}
.sortText {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: black;
  padding-right: 1.5rem;
  margin-top: 0.75rem;
}
.sortList {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  justify-items: stretch;
  align-items: center;
  border-radius: 25px;
  padding: 0;
}
.sortListText {
  position: relative;
  background-color: #901c1c;
}
.sortListText:not(:first-child) {
  /*display: none; */
}
.sortListChoice {
  color: white;
  font-size: 1.25rem;
  height: 4.625rem;
  width: 12rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container {
  margin: 20px;
  max-width: 300px;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.custom-select {
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  background: #901c1c;
  cursor: pointer;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 1;
  background-color: #901c1c;
  padding: 0rem 0.625rem;
  cursor: pointer;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  line-height: 60px;
  transition: all 0.5s;
  border-top: 1px solid white;
  width: 150px;
  text-align: left;
}

.custom-option:hover {
  cursor: pointer;
}

.custom-option.selected {
  color: #ffffff;
  display: none;
  background-color: #901c1c;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
}

.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #fff;
}

.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}
@media screen and (max-width: 1312px) {
  nav {
    flex-wrap: wrap;
    margin-top: 1em;
  }
}
@media screen and (max-width: 1220px) {
  .headerLogo {
    width: 120px;
    height: auto;
    margin-right: 1em;
  }
  .mainTitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 89%;
  }
  .photographerItem {
    min-width: 300px;
  }
}

@media screen and (max-width: 405px) {
  .mainTitle {
    font-size: 16px;
  }
  .headerLogo {
    width: 80px;
  }
  #linktomain {
    left: 30%;
  }
}
