@font-face {
  font-family: "DMSansRegular";
  src: url("../../font/DMSans-Regular.ttf") format("truetype");
}

* {
  font-family: "DMSansRegular";
}
ul {
  list-style-type: none;
}
button {
  background-color: inherit;
  border: none;
}
header,
main {
  max-width: 90%;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Header*/
.headerLogo {
  width: 200px;
  margin-left: 6%;
}
/*Photographer*/

.photographerInfo {
  width: 87%;
  height: 320px;
  margin: auto;
  background: #fafafa;
  border-radius: 5px;

  display: grid;
  grid-auto-columns: auto;
  /*grid-template-columns: 1.1fr 0.3fr 0.2fr; */
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
}
.photographerInfoContact {
  margin-top: 60px;

  grid-column: 2;
  grid-row: 1;
}

.photographerItem {
  width: 90%;
  height: 320px;
  margin-top: 60px;
  margin: auto;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 1;
}

.photographerItemPhoto {
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: right;
  margin-right: 10px;
  margin-top: 70px;
}
.photographerItemName {
  font-size: 53px;
  line-height: 83px;
  color: #d3573c;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.photographerItemCity {
  font-size: 24px;
  line-height: 31px;
  margin-top: 0;
  color: #901c1c;
}
.photographerItemText {
  font-size: 18px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 0;
  color: #525252;
}
.photographerItemPrice {
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  color: #757575;
}
.photographerItemTaglist {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.photographerItemTag {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #911c1c;
  margin: 2px;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  padding-left: 5px;
  padding-right: 5px;
}

.photographerItemInfo {
  margin-top: 50px;
}
.btn-signup,
.btn-submit {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #901c1c;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn-submit {
  margin-top: 2em;
}

.btn-signup:hover {
  background-color: #db8876;
  color: black;
}

/*DROPDOWN MENU */
.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 87%;
  margin: auto;
}
.sortText {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: black;
  padding-right: 1.5rem;
  margin-top: 0.75rem;
}

.container {
  margin: 20px;
  max-width: 300px;
}

.wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.selectMenu {
  display: flex;
  flex-direction: column;
}

.selectMenuTrigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  background: #901c1c;
  cursor: pointer;
}

.selectMenuOptions {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 1;
  background-color: #901c1c;
  padding: 0rem 0.625rem;
  cursor: pointer;
}

.selectMenu.open .selectMenuOptions {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.option {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  line-height: 60px;
  transition: all 0.5s;
  border-top: 1px solid white;
  width: 150px;
  text-align: left;
}

.option:hover {
  cursor: pointer;
}

.option.selected {
  color: #ffffff;
  display: none;
  background-color: #901c1c;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
}

.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #fff;
}

.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

.container {
  margin: 20px;
  max-width: 300px;
}

/*MEDIA*/

.media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.mediaItem {
  width: 400px;
  height: 350px;
  margin: 20px;
}
.mediaItemImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.mediaItemText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mediaItemTitle {
  font-size: 18px;
  color: #901c1c;
  margin: 10px;
}
.mediaItemInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mediaItemLike,
.mediaItemInfoPrice {
  font-size: 18px;
  color: #901c1c;
  margin: 10px;
}
.mediaItemLikeHeart {
  color: #901c1c;
}

.profileInfo {
  position: fixed;
  bottom: 0;
  right: 2.25rem;
  background-color: #db8876;
  border-radius: 0.3125rem 0.3125rem 0 0;
  white-space: nowrap;
  z-index: 3;
}
.profileInfoLike,
.profileInfoPrice {
  display: inline-flex;
  white-space: pre;
  font-size: 24px;
  margin: 0;
  line-height: 31px;
  font-weight: 500;
  color: black;
  padding: 1.3125rem 2rem;
}
.profileheart {
}
/*MODAL FORM */
/* Modal form */
.modal-Title {
  color: black;
  font-size: 36px;
  weight: 400;
  margin: 0;
}
.modalValid {
  display: block;
}
.modalValidText {
  font-size: 36px;
  text-align: center;
  padding: 0;
  margin: 200px 0px 200px 0px;
}
.formErrorText {
  display: none;
  color: black;
  font-size: 14px;
  font-family: roboto;
  margin-top: 0.5em;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.formValid {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
  margin-top: 1em;
  color: #312e2e;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

textarea {
  border-radius: 5px;
  resize: none;
}
/* LIGHTBOX */
.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(196, 196, 196, 0.6);
  border: none;
  padding: 0;
}
.lightbox_content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lightboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.lightboxContainerMedia {
  display: none;
}

.lightbox__close {
  background: url(../../img/close.svg) center center / 100% 100%;
  width: 42px;
  height: 42px;
  right: -7%;
  top: 4%;
}
.lightbox__prev,
.lightbox__next {
  background: url(../../img/arrow.svg) center center / 100% 100%;
  width: 30px;
  height: 48px;

  top: 0;
  right: 0;
}
.lightbox__prev {
  transform: rotate(180deg);
  top: 48%;
  left: -7%;
}
.lightbox__next {
  top: 48%;
  right: -7%;
}
.lightbox button {
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -300000px;
}
.lightbox button:hover {
  opacity: 1;
}
.lightboxContainer img {
  height: 800px;
  width: 1000px;
  border-radius: 5px;
  object-fit: cover;
}
.lightboxContainerMediaVideo {
  height: 800px;
  width: 1000px;
  border-radius: 5px;
  object-fit: cover;
}
.lightboxContainerMediaTitle {
  color: #901c1c;
  font-size: 24px;
}
/* RESPONSIV */

@media screen and (max-width: 1260px) {
  .photographerInfo {
    display: flex;
  }
  .photographerItemInfo {
    margin-left: 1.5em;
  }

  #contactButton {
    height: 35px;
    font-size: 18px;
    white-space: nowrap;
    position: fixed;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 1154px) {
  .lightbox {
    background-color: white;
  }
  .lightboxContainer img {
    width: 290px;
    height: 250px;
  }

  .lightbox__close,
  .lightbox__prev,
  .lightbox__next {
    width: 15px;
    height: 20px;
  }
  .lightbox__next {
    top: 43%;
    right: -6%;
  }
  .lightbox__prev {
    top: 43%;
    left: -6%;
  }
  .lightbox__close {
    top: 22%;
  }
  .lightboxContainerMediaTitle {
    margin-top: 0;
  }
}
@media screen and (max-width: 997px) {
  .photographerInfo {
    background: white;
    margin: 0;
  }
  .photographerItemPhoto {
    width: 100px;
    height: 100px;
    margin-top: 45px;
  }
  .photographerItemName {
    font-size: 36px;
    line-height: 46px;
  }
  .photographerItemCity,
  .photographerItemText,
  .photographerItemTag {
    font-size: 13px;
    line-height: 16px;
  }

  .mediaItem {
    width: 100%;
    margin: 10px 0px;
  }
  .profileInfo {
    display: none;
  }
}
@media screen and (max-width: 628px) {
  .sort {
    display: none;
  }
  .bground {
    padding: 0;
  }
  .content {
    max-width: 100%;
  }
}
